 <%- include('partials/header.ejs') -%>
 <div class="dashboard flex charset">
   <div><h3 class="text-chart">more your Details about your spends</h3></div>
   <div class="select-wrapper">
                      <select name="datepicker" id="datepicker" onchange="getSelectValue()">
                       <% [...new Set(months.map(el => el._id.year))].forEach(year => { %>
                            <option value="<%= year %>"><%= year %></option>
                            <script>

                            </script>
                          <% }) %> 
                        </select>
                        
    </div> 
    <div class="cont-chart dashboard-cards" data-chart-data="<%= JSON.stringify(months.map((el) => el._id.month)) %>" data-chart-label="<%= JSON.stringify(months.map((el) => el.count)) %>">
      <div class="card"><canvas id="myChart"></canvas></div>
      <div class="card"><canvas id="myChartLine"></canvas></div>
  </div>
 </div>
  
<script>
  var e = JSON.parse(document.getElementById('datepicker').value);
function getSelectValue()
        {
            var e = JSON.parse(document.getElementById('datepicker').value);
          // in your EJS file.
let filtered = JSON.parse('<%- JSON.stringify(months.map(el => el)) %>');
let date = filtered.filter(el => el._id.year == e)
console.log(date)
        var ctx = document.getElementById("myChart").getContext("2d");
        var ctxLine = document.getElementById("myChartLine").getContext("2d");
        data = {
        labels:date.map((el) => el._id.month),
        datasets: [
          {
            label: "Monthly Spends",
            backgroundColor: "rgba(255,99,132,0.2)",
            borderColor: "rgba(255,99,132,1)",
            borderWidth: 2,
            hoverBackgroundColor: "rgba(255,99,132,0.4)",
            hoverBorderColor: "rgba(255,99,132,1)",
            data: JSON.parse('<%- JSON.stringify(months.map((el) => el.count))%>'),
          }
        ]
      }
      const option = {
        title: {
          display: true,
          Text:"Monthly Spends",
          fontSize: '20',
          fontFamily: "'Roboto','sans-serif'",

        },
        scales:{
          yAxes :{
            ticks: {
              color:'#fff',
              beginATZero : true,
              userCallback : function(value){
                value = value.toString();
                return '$' + value
              },
              
            }
          }
        },
            responsive: true
      
      }
        const config = {
          type: 'bar',
          data:data,
          option:option,
        }
        const config2 = {
          type: 'line',
          data:data,
          option:option,
        }
        var myNewChart = new Chart(ctx, config)
        var myNewChartLine = new Chart(ctxLine, config2)
        // var myNewChart = new Chart(ctx).Line(data);
        const month = JSON.parse('<%- JSON.stringify(months.map((el) => el._id))%>');
        console.log(month)
        }
        getSelectValue();
        

    </script>