<%- include('partials/header.ejs') -%>
<main id="main" class="main">
   <div class="container">
      <div class="link"><a class="fosz " href="/home/new">New Spend<i class="fa fa-plus"></i></a></div>
      <h4 class="title-head">Your expenses for all times</h4>
      <p class="total">Total: <%=total[0].count %> $ </p>
      <form action="/home/range/:from&:to" method="get" class="flex form">
         <div class="flex form-cont">
            <div class="from-group">
               <label for="from">From</label>
               <input type="date" name="from" id="from" class="date-input">
            </div>
            <div class="from-group">
               <label for="to">To</label>
               <input type="date" name="to" id="to" class="date-input">
            </div>
         </div>

         <button type="submit" class="date-btn">Go</button>
      </form>
      <!-- <div class=" row"> -->
      <div class="main-content flex">
         <div class="side-bar">
            <p>Click on the Year panel to open specific month or week .</p>
            <div class="panel-group">
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h4 class="card-header">
                        <ul>
                           <% [...new Set(tasks.map((task) => task.spendAt.getFullYear()))].forEach((task) =>{ %>
                           <li>
                              <div class="flex between-space">
                                 <a href="/home/<%= task %> "><%= task %></a>
                                 <a class="btn" data-bs-toggle="collapse" href="#collapse<%=task %>"> <i
                                       class="fa fa-chevron-down"></i>
                                 </a>
                              </div>

                              <div id="collapse<%=task %>" class="panel-collapse collapse">
                                 <div class="panel-body">
                                    <ul>
                                       <% [...new Set(tasks.map((task) => task.spendAt.getMonth() + 1))].forEach((month) =>{ %>
                                       <li>
                                          <% var months = ["jan", "feb", "mar", "apr", "may", "jun", "july", "aug", "sep",
                                          "oct", "nov", "dec"];%>
                                          <div class="flex between-space">
                                             <a class="months" href="/home/month/<%= month %>">
                                                <%= months[month - 1]%></a> <a class="btn" data-bs-toggle="collapse"
                                                href="#collapseM<%=month  %> ">
                                                <i class="fa fa-chevron-down"></i></a>
                                          </div>
                                          <div id="collapseM<%= month %>" class="penel-collapse collapse">
                                             <div class="panel-body">
                                                <% [...new Set(tasks.map((week) => { %>
                                                <%    var oneJan = new Date(week.spendAt.getFullYear(),0,1);%>
                                                <%   var numberOfDays = Math.floor((week.spendAt - oneJan) / (24 * 60 * 60 * 1000));%>
                                                <% return Math.ceil(( week.spendAt.getDay() + 1 + numberOfDays) / 7) %>
                                                <% }))].forEach((week) => { %>
                                                <a class="months" href="/home/week/<%= week %> "><%=week  %> </a>
                                                <% }) %>
                                             </div>
                                          </div>
                                       </li>
                                       <% }) %>
                                    </ul>
                                 </div>
                              </div>
                           </li>
                           <% }) %>
                        </ul>
                        <!-- do on if statement and check if there in other years  -->
                     </h4>
                  </div>
               </div>
            </div>
         </div>

         <ul>
            <div class="flex flex-size flex-wrap">
               <% tasks.forEach(task => {%>
               <div class="card">
                  <div class="card-header">
                     <li class="card-title fosz text-center"> <%= task.task %></li>

                  </div>
                  <div class="card-body">
                     <div class="card-body">
                        <li class="card-text card-money">
                           <%= task.spend%> $
                        </li>
                        <li class="card-text ">
                           <%= task.info%>
                        </li>
                        <li class="col-6 mt-5">
                           <a class="card-link" href="/home/spendsDetail/<%= task._id%>">
                              more details
                           </a>
                        </li>
                     </div>

                     <div class="mb-1 p-1 flex between-space">
                        <a class="card-link" href="/home/editTask/<%= task._id %>">Edit</a> &nbsp;
                        <form action="/home/deletePost/<%= task._id %>" method="POST" id="delete-form">
                           <input type="hidden" name="_method" value="DELETE" />
                           <button type="submit" class="card-link"
                              onclick="return confirm('Are you sure you wish to delete this?');">Delete
                           </button>
                        </form>
                     </div>
                  </div>
                  <div class="card-footer text-muted">
                     <li class="card-subtitle mb-2 text-muted ">
                        <%= moment(task.spendAt).format("MMMM Do YYYY")%>
                     </li>
                  </div>
               </div>

               <% }) %>
            </div>
         </ul>
      </div>

      <!-- </div> -->


   </div>
</main>

<%- include('partials/footer.ejs') -%>